

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Load a Map Layer</title>

    <!-- ArcGIS API for JavaScript CSS -->
    <link rel="stylesheet" href="https://js.arcgis.com/4.23/esri/themes/light/main.css">

    <!-- ArcGIS API for JavaScript -->
    <script src="https://js.arcgis.com/4.23/"></script>

    <style>
        html, body, #viewDiv {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }
    </style>

</head>

<body>
<div id="viewDiv">

    <script src="map_script.js"></script>


</div>
<!-- This is just to check if the page is loading or not -->
<!-- Link to the external JavaScript file -->


# add a link to the external JavaScript file

</body>
</html>