{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Load a Map Layer</title>
    <!-- Bootstrap CSS and JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Main jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- jQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>


    <!-- ArcGIS API for JavaScript CSS -->
    <link rel="stylesheet" href="https://js.arcgis.com/4.23/esri/themes/light/main.css">
    <link rel="stylesheet" href="{% static 'geo_app/css/map_styles.css' %}">
    <script src="https://js.arcgis.com/4.23/"></script>

    <style>
        html, body {
            height: 100%;
        }

        #viewDiv {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body class="h-100">


<div class="container-fluid h-100">
    <div class="row h-100">

        <!-- Left Column -->
        <div class="col-md-2 p-3" style="background-color: #333;">
            <h4 class="text-white">Options</h4>
            <!-- Add buttons or links for your options here -->
            <div class="mb-2">
                <button id="addRemoveLayerBtn" class="btn btn-white btn-block py-3"
                        onclick="setButtonColor('addRemoveLayerBtn'); populateInterfaceWithUrls();">
                    Add or Remove Layer
                </button>
            </div>
            <div>
                <button id="mappWidgetBtn" class="btn btn-white btn-block py-3"
                        onclick="setButtonColor('mappWidgetBtn')">
                    Map Widget Options
                </button>
            </div>
            <!-- ... other options ... -->
        </div>


        <!-- Middle Column -->
        <div class="col-md-2 bg-light" style="background-color: #f2e7c3;" id="interfaceColumn">

        </div>

        <!-- Right Column for Map -->
        <div class="col-md-8 h-100">
            <div id="viewDiv">
            </div>
        </div>

    </div>
</div>


<script> var urlsFromDjango = {{ urls|safe }}; </script>


<script src="{% static 'geo_app/js/ui_functions.js' %}"></script>
<script src="{% static 'geo_app/js/map_script.js' %}"></script>

</body>
</html>
